{
  "extends": "airbnb",
  "rules":{
    "no-console": 0,
    "no-use-before-define":  [2, "nofunc"],
    "strict": [0, "global"],
    "no-else-return": 0,
    "react/prefer-es6-class": 0,
    "react/prop-types": 0,
    "prefer-template": 0,
    "no-confusing-arrow": 0
  }
}
